@charset "UTF-8";
.comment{
  padding: 0;
  max-width: 1000px;
  margin: 40px auto;
  .comment_header{
    border-bottom: 1px rgba(112, 128, 144, 0.5) solid;
    line-height: 40px;
    border-radius: 10px;
    padding: 0 10px;
    font-size: 15px;
    margin: 0;
    .count{
      margin-right: 5px;
    }
    >.avatar{
      float: right;
      height: 50px;
      cursor: pointer;
      >div{
        width: 35px;
        height: 35px;
        margin-top: 0;
        border-radius: 17.5px;
        position: relative;
      }
      >p{
        transition: all .3s;
      }
      >p:hover{
        color: #F56C6C;
        transform: translateY(-5px) translateZ(0);
      }
    }
  }
  .comment_list{
    padding: 10px;
    overflow: hidden;
    >.avatar{
      width: 60px;
      height: 70px;
      text-align: center;
      float: left;
      padding-top: 8px;
      >div{
        width: 45px;
        height: 45px;
        border-radius: 22.5px;
        display: block;
        margin: auto;
        position: relative;
        cursor: pointer;
      }
      p{
        font-size: 12px!important;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
    }
    .comment_list{
      padding-right: 0;
      padding-left: 0;
      padding-top: 0;
    }
    .comment_list:last-child{
      padding-top: 0;
    }
    .comment_context{
      position: relative;
      float: right;
      background-color: rgba(255, 255, 255, 0.3);
      border-radius: 8px;
      width: calc(100% - 100px);
      min-height: 45px;
      padding: 10px 15px 0;
      border: 1px solid rgba(88, 82, 96, 0.2);
      overflow: hidden;
      .comment_context{
        width: calc(100% - 75px);
        border: 1px dashed transparent;
        padding: 10px 0 0;
        border-radius: 0;
        background-color: transparent;
        .comment_tool{
          width: 100%;
          border-bottom: none;
        }
      }
      .comment_info{
        height: 100%;
        p{
          img{
            max-height: 250px;
            margin: 0;
          }
        }
      }
      .comment_info:before{
        content: attr(comment_user);
        display: block;
        float: left;
        color: #409EFF;
        cursor: pointer;
      }
      .comment_tool{
        position: relative;
        width: 100%;
        border-bottom: 1px solid rgba(88, 82, 96, 0.2);
        overflow: hidden;
        time{
          font-size: 10px;
          color: #5f5f5f;
        }
        >div{
          position: absolute;
          top: 0;
          right: 0;
          text-align: center;
          margin: 0;
          user-select: none;
          >div{
            display: inline-block;
          }
          span{
            cursor: pointer;
            margin-left: 20px;
            font-size: 10px;
          }
          span:hover{
            color: #F56C6C;
          }
        }
      }
      .comment_tool:after{
        content: "";
        display: block;
        position: absolute;
        bottom: 0;
        width: 100%;
        transform: translate3d(-100%,0,0);
        border-bottom: 1px solid #F56C6C;
        transition: transform .3s;
      }
    }
    >.comment_context:hover{
      >.comment_tool:after{
        transform: translate3d(0,0,0);
      }
      >.comment_tool.parent:after{
        transform: translate3d(-100%,0,0);
      }
    }
    :global(.for-container){
      position: relative!important;
      width: calc(100% - 40px)!important;
    }
    :global(.for-toolbar){
      display: flex!important;
    }
    :global(.for-editor){
      display: flex!important;
    }
    :global(.for-container+p){
      button{
        right: 20px!important;
      }
    }
    :global(.for-panel){
      text-align: initial;
    }
  }
  .comment_list:global(.route-appear),
  .comment_list:global(.route-enter){
    position: relative;
    width: calc(100% - 20px)!important;
  }
  .comment_list{
    .comment_list:global(.route-appear),
    .comment_list:global(.route-enter){
      width: 100%!important;
    }
  }
  .page_tool_bar{
    text-align: center;
    width: 150px;
    display: block;
    margin: auto;
    cursor: pointer;
    overflow: hidden;
    font-size: 12px;
  }
  .page_tool_bar::after{
    content: "";
    display: block;
    transition: transform 0.2s;
    border-bottom: #F56C6C 1px solid;
    transform: translateX(-100%) translateZ(0);
  }
  .page_tool_bar:hover{
    color: #F56C6C;
  }
  .page_tool_bar:hover::after{
    transform: translateX(0) translateZ(0);
  }
}
@media (max-width: 1450px) {
  .comment {
    margin: 50px auto;
  }
}
@media (max-width: 1110px) {
  .comment {
    margin: 50px 55px;
  }
}
@media (max-width: 880px){
  .comment {
    margin: 50px 55px;
  }
}
@media (max-width: 700px) {
  .comment {
    margin: 50px 55px;
    .comment_list{
      .comment_list{
        .avatar{
          display: none;
        }
        .comment_context{
          width: 100%;
          .comment_info:before{
            content: attr(username) + attr(comment_user);
          }
        }
      }
    }
  }
}
@media (max-width: 580px) {
  .comment {
    margin: 50px 20px;
    .comment_list{
      .comment_list{
        .avatar{
          display: none;
        }
        .comment_context{
          width: 100%;
          .comment_info:before{
            content: attr(username) + attr(comment_user);
          }
        }
      }
    }
  }
}
